<footer class="site-footer h-card">
  <!--data class="u-url" href="{{ "/" | relative_url }}"></data-->

  <div class="wrapper">

    {%- if page.title -%}
    <h2 class="footer-heading"><A HREF="https://perlen.DavOh.de/">Online-Perlensammlung</A> von <A HREF="https://David.von-Oheimb.de/">David von Oheimb</A>: {{ page.title | escape }}</h2>

    <ADDRESS>
    <img src="https://perlen.DavOh.de/pic/faceline.gif" WIDTH="650" HEIGHT="9" ALT="---------------------------------------------------------"><br>
    <a href="https://validator.w3.org/check?uri=https://ddvo.github.io{{ page.url | relative_url }}"><img src="https://perlen.DavOh.de/pic/html5.png" alt="[Valid HTML5]" height="12" width="33"></a>
  URL: https://perlen.DavOh.de{{ page.url | relative_url }}
    </ADDRESS>
    {%- else -%}
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
    {%- endif -%}

  </div>

</footer>
